extends ../template
block title
  | НПО ЭНТ-Технология УФ
block content
  include ../common/header
  .catalog
    h1.catalog__title Продукция НПО ЭНТ-Технология УФ
    include ../common/sixtangles-block
    .catalog-block
      p.catalog-block__subtitle УФ-оборудование для обеззараживания
      .catalog-block-top
        h3.catalog-block-top__title Поверхностей и воздуха
        a(href="#").catalog-block-top__btn.general-btn.general-btn_blue Все товары категории
      .catalog-block-table
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc рециркулятор
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 500 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Объем помещения:
              p.catalog-block-table-param-row__value 1000 м<sup>3</sup>
          p.catalog-block-table__price 12 650 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc облучатель для конвейера
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Мощность Уф-ламп:
              p.catalog-block-table-param-row__value 300 Вт
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Количество УФ-ламп:
              p.catalog-block-table-param-row__value 18 шт
          p.catalog-block-table__price 6 900 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc облучатель для конвейера
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 6400 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Сечение:
              p.catalog-block-table-param-row__value 900×500 мм
          p.catalog-block-table__price по запросу
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
    .catalog-block
      p.catalog-block__subtitle УФ-оборудование для обеззараживания
      .catalog-block-top
        h3.catalog-block-top__title Питьевой воды
        a(href="#").catalog-block-top__btn.general-btn.general-btn_blue Все товары категории
      .catalog-block-table
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-50м-400A5 П
            p.catalog-block-table-desc__desc для питьевой воды
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 43-48 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title УФ-доза:
              p.catalog-block-table-param-row__value 25-40 мДж/см2
          p.catalog-block-table__price 262 500 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-50м-400A5 П
            p.catalog-block-table-desc__desc для питьевой воды
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 380-510 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title УФ-доза:
              p.catalog-block-table-param-row__value 25-40 мДж/см2
          p.catalog-block-table__price по запросу
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-50м-1000A5 П
            p.catalog-block-table-desc__desc для питьевой воды
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title УФ-доза:
              p.catalog-block-table-param-row__value 25-40 мДж/см2
          p.catalog-block-table__price по запросу
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-2м-2/95
            p.catalog-block-table-desc__desc для питьевой воды
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 300 м<sup>3</sup>/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title УФ-доза:
              p.catalog-block-table-param-row__value 25-40 мДж/см2
          p.catalog-block-table__price 324 250 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
    .catalog-block
      p.catalog-block__subtitle УФ-оборудование для обеззараживания
      .catalog-block-top
        h3.catalog-block-top__title технических и сточных вод
        a(href="#").catalog-block-top__btn.general-btn.general-btn_blue Все товары категории
      .catalog-block-table
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-15м-40Н С
            p.catalog-block-table-desc__desc для технических и сточных вод
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 510-615 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title УФ-доза:
              p.catalog-block-table-param-row__value 30-65 мДж/см2
          p.catalog-block-table__price 262 500 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-50м-400A5 С
            p.catalog-block-table-desc__desc для технических и сточных вод
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 510-615 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title УФ-доза:
              p.catalog-block-table-param-row__value 30-65 мДж/см2
          p.catalog-block-table__price по запросу
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-50м-1000A5 С
            p.catalog-block-table-desc__desc для технических и сточных вод
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 510-615 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title УФ-доза:
              p.catalog-block-table-param-row__value 30-65 мДж/см2
          p.catalog-block-table__price по запросу
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-50м-60Н С
            p.catalog-block-table-desc__desc для технических и сточных вод
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 510-615 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title УФ-доза:
              p.catalog-block-table-param-row__value 30-65 мДж/см2
          p.catalog-block-table__price 324 250 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
    .catalog-block
      p.catalog-block__subtitle УФ-оборудование для обеззараживания
      .catalog-block-top
        h3.catalog-block-top__title воды на морских и речных судах 
        a(href="#").catalog-block-top__btn.general-btn.general-btn_blue Все товары категории
      .catalog-block-table
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-0.5м-2Фз(Р)Кс
            p.catalog-block-table-desc__desc судовая установка
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 101 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Масса установки:
              p.catalog-block-table-param-row__value 80 кг
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-3.0м-10АФ(Р)К
            p.catalog-block-table-desc__desc судовая установка
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 101 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Масса установки:
              p.catalog-block-table-param-row__value 80 кг
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-0.5м-2Ф(Р)К
            p.catalog-block-table-desc__desc судовая установка
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 101 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Масса установки:
              p.catalog-block-table-param-row__value 80 кг
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-0.5м-05Фз(Р)Кс
            p.catalog-block-table-desc__desc судовая установка
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 101 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Масса установки:
              p.catalog-block-table-param-row__value 80 кг
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
    .catalog-block
      p.catalog-block__subtitle УФ-оборудование для обеззараживания
      .catalog-block-top
        h3.catalog-block-top__title воды в рыбоводных хозяйствах
        a(href="#").catalog-block-top__btn.general-btn.general-btn_blue Все товары категории
      .catalog-block-table
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-15м-40Н Р
            p.catalog-block-table-desc__desc для рыбоводных хозяйств
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 615-1010 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title УФ-доза:
              p.catalog-block-table-param-row__value 30 мДж/см2
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-50м-400A5 Р
            p.catalog-block-table-desc__desc для рыбоводных хозяйств
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 615-1010 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title УФ-доза:
              p.catalog-block-table-param-row__value 30 мДж/см2
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-50м-1000A5 Р
            p.catalog-block-table-desc__desc для рыбоводных хозяйств
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 615-1010 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title УФ-доза:
              p.catalog-block-table-param-row__value 30 мДж/см2
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name УОВ-50м-60Н Р
            p.catalog-block-table-desc__desc для рыбоводных хозяйств
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производительность:
              p.catalog-block-table-param-row__value 615-1010 м3/ч
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title УФ-доза:
              p.catalog-block-table-param-row__value 30 мДж/см2
          p.catalog-block-table__price 43 200 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
    .catalog-block
      p.catalog-block__subtitle УФ Лампы, Кварцевые кожухи, ЭПРА, фурнитура
      .catalog-block-top
        h3.catalog-block-top__title Комплектующие для установок
        a(href="#").catalog-block-top__btn.general-btn.general-btn_blue Все товары категории
      .catalog-block-table
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name TUV 10w
            p.catalog-block-table-desc__desc УФ-лампа
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Мощность лампы Pe:
              p.catalog-block-table-param-row__value 10,6 VA
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Цоколь:
              p.catalog-block-table-param-row__value G13
          p.catalog-block-table__price 542 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name RQ-470
            p.catalog-block-table-desc__desc кварцевый кожух
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производитель:
              p.catalog-block-table-param-row__value ATOLL
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title &nbsp;
              p.catalog-block-table-param-row__value &nbsp;
          p.catalog-block-table__price 2 350 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name Honeywell KH11S-1A
            p.catalog-block-table-desc__desc шаровой клапан
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Производитель:
              p.catalog-block-table-param-row__value Honeywell
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title &nbsp;
              p.catalog-block-table-param-row__value &nbsp;
          p.catalog-block-table__price 2 300 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
        .catalog-block-table-row
          .catalog-block-table__photo(style="background-image: url(assets/images/item.png)")
          .catalog-block-table-desc
            p.catalog-block-table-desc__name ЭПРА
            p.catalog-block-table-desc__desc Электронный балласт
          .catalog-block-table-param
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Тип цоколя:
              p.catalog-block-table-param-row__value G13
            .catalog-block-table-param-row
              p.catalog-block-table-param-row__title Количество УФ-ламп:
              p.catalog-block-table-param-row__value T8 (4×18ВТ)
          p.catalog-block-table__price 365 ₽
          .catalog-block-table-more
            a(href="#").general-btn.general-btn_gradient Подробнее
  include ../common/footer